<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Información</h5>
                <ul>
                    <li><a href="#terms">Términos y Condiciones</a></li>
                    <li><a href="#privacy">Política de Privacidad</a></li>
                    <li><a href="#legal">Aviso Legal</a></li>
                    <li><a href="#cookies">Política de Cookies</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">¿Quienes somos?</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <p> Somos un grupo de programadores que buscan eficientar la manera de gestionar trámites online
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Correo: tramitargmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Teléfono: +54 3888 432584</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Dirección: Gral Savio N° 670, San Pedro, Jujuy</a>
                    </li>
                </ul>
            </div>
            <div class="text-center p-3">
                © 2024 TRAMITAR. Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>