.carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 100%;
}

.card {
  margin: 10px;
}

.carruselEnLinea {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin: 0%;
  padding: 0%;
}